name: CI

permissions:
  contents: read

on:
  push:
    branches:
      - main
    paths:
      - 'contract/src/**'
      - 'contract/test/**'
      - 'contract/script/**'
      - 'contract/foundry.toml'
      - '.github/workflows/contract_test.yml'
  pull_request:
    paths:
      - 'contract/src/**'
      - 'contract/test/**'
      - 'contract/script/**'
      - 'contract/foundry.toml'
      - '.github/workflows/contract_test.yml'
  workflow_dispatch:

env:
  FOUNDRY_PROFILE: ci

jobs:
  check:
    name: Foundry project
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 #v6.0.1
        with:
          persist-credentials: false
          submodules: recursive

      - name: Install Foundry
        uses: foundry-rs/foundry-toolchain@50d5a8956f2e319df19e6b57539d7e2acb9f8c1e # v1.5.0

      - name: Show Forge version
        run: forge --version

      - name: Run Forge fmt
        run: forge fmt --check

      - name: Run Forge build
        run: forge build --sizes

      - name: Run Forge tests
        run: forge test -vvv
